@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* || TABLES - GENERAL */

thead,
tbody,
tr {
  display: contents;
}

.table {
  font-size: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
}

.table__button {
  padding: 0.25em;
  font-size: 1.5rem;
  color: var(--TABLE-COLOR);
}

.table__thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table__th,
.table__cell {
  background-color: var(--TABLE-BGCOLOR);
  text-align: left;
  border: 1px solid var(--TABLE-COLOR);
  padding: 0.5em;
}

.table__cell:last-child {
  display: grid;
  place-content: center;
}

.table__cell--inactive {
  background-color: var(--INACTIVE);
}

/* ||  POSTER */

.poster__created,
.poster__updated,
.poster__username {
  display: none;
}

.poster__status {
  font-weight: bold;
}

.poster__status--open {
  color: var(--STATUS-OPEN);
}

.poster__status--completed {
  color: var(--STATUS-COMPLETE);
}


.table {
    font-size: 1.5rem;
  }

  .table--posters {
    grid-template-columns: repeat(3, 1fr) 2fr repeat(2, 1fr);
  }


  .poster__created,
  .poster__updated,
  .poster__username {
    display: block
  }

/* ||INPUT */

input {
  background-color: rgba(245, 245, 245, 0.55);;
  color: black;
  padding: 0.5em;
  border-radius: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

input:focus-visible {
  outline-offset: 0px;
}

.input--text {
  background-color: aliceblue;
  color: rgb(0, 0, 0);
  min-height: 150px;
}

/* || FORM - GENERAL */

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75em;
  max-width: 800px;
}

.form__checkbox-container {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5em;
}

.form__persist {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5em;
}

.form__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__input,
.form__submit-button {
  background-color: aliceblue;
  color: black;
  padding: 0.5em;
  border-radius: 15px;
  border: 2px solid black;
  border-radius: 5px;
}

.form__input--text {
  background-color: aliceblue;
  color: rgb(0, 0, 0);
  min-height: 150px;
}

.form__input--incomplete {
  color: rgb(255, 0, 0);
  background-color: aliceblue;
  border: 1px solid black;
  outline: 1px solid black;
  border: 1px solid black;
  border-radius: 5px;
}

.form__checkbox {
  width: 24px;
  height: 24px;
}

.form__select {
  color: black;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 5px;
  outline: 1px solid black;
  width: fit-content;
  padding: 0.25em;
}

.form__action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  position: absolute;
  right: 0.5em;
}

.form__row {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

.form__divider {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}

.form_error {
  display: none;
}

@media screen and (min-width: 768px) {

  body {
    font-size: 1.25rem;
  }

  .dash-header {
    padding: 0 1em;
  }

  .dash-container {
    padding: 1em;
  }

  .table {
    font-size: 1.5rem;
  }

  .table--posters {
    grid-template-columns: repeat(3, 1fr) 2fr repeat(2, 1fr);
  }

  .poster__created,
  .poster__updated,
  .poster__username {
    display: block
  }

  .form__action-buttons {
    position: static;
  }
}
.form__action-buttons {
  position: static;
}
/* || UTILITY CLASSES */
.errmsg {
  display: inline-block;
  background-color: var(--TABLE-BGCOLOR);
  color: var(--ERROR);
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.errmsg a:any-link {
  color: var(--ERROR);
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

.icon-button {
  width: 48px;
  height: 48px;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  color: var(--COLOR);
  display: grid;
  place-content: center;
}

.icon-button:hover,
.icon-button:focus-visible {
  transform: scale(1.2);
}

.icon-button[disabled] {
  visibility: hidden;
}